@model Tcc_Senai.Models.GerarCurso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar curso gerado</title>
</head>
<body>
    <hr />
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 offset-md-3">
            <h2 class="title-view">Deletar curso gerado</h2>
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdGerarCursos" />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataInicio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataFim)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataFim)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomeModalidade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeModalidade)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomeCurso)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeCurso)
                    </dd>
                </dl>
                <div class="btn-icons" ,>
                    <a asp-action="Index" class="i-font-50">
                        <i class="fas fa-chevron-circle-left"></i>
                    </a>
                    <button class="btn-submit i-font-50"><i class="fas fa-eraser"></i></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>