@model IEnumerable<Tcc_Senai.Models.Semestre>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voltar Lista</title>
</head>
<body>
<p>
    <a asp-action="Create">Cadastrar Semestre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSemestre)
            </th>
            

            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSemestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSemestre">Editar</a> |

                <a asp-action="Delete" asp-route-id="@item.IdSemestre">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
